<div class="contentBody">
	<%= form_for @user do |f| %>
		<% unless @user.errors.empty? %>
		<div class="error_messages">
			<%= render "shared/error_message", :target => @user.errors[:name], :field_name => t("activerecord.models.user.attributes.name") %>
			<%= render "shared/error_message", :target => @user.errors[:email], :field_name => t("activerecord.models.user.attributes.email") %>
			<%= render "shared/error_message", :target => @user.errors[:password], :field_name => t("activerecord.models.user.attributes.password") %>
			<%= render "shared/error_message", :target => @user.errors[:admin], :field_name => t("activerecord.models.user.attributes.admin") %>
			<%= render "shared/error_message", :target => @user.errors[:editor], :field_name => t("activerecord.models.user.attributes.editor") %>
		</div>
		<% end %>
		
		<div class="field">
			<%= f.label "Nombre" %>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label "Email" %>
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label "Password" %>
			<%= f.password_field :password, :value => ""  %>
		</div>
		<div class="field">
			<%= f.label "Confirmar password" %>
			<%= f.password_field :password_confirmation, :value => "" %>
		</div>
		<% if admin? %>
			<div class="field">
				<%= f.label "Admin?" %>
				<%= f.check_box :admin %>
			</div>
			<div class="field">
				<%= f.label "Editor?" %>
				<%= f.check_box :editor %>
			</div>
		<% end %>
		<div class="actions"><%= f.submit %></div>
	<% end %>
</div>
