<div class="contentBody">
	<%= semantic_form_for @user do |f| %>
		<%= f.inputs do %>
			<%= f.input :name, :label => t("activerecord.models.user.attributes.name").capitalize %>
			<%= f.input :email, :label => t("activerecord.models.user.attributes.email").capitalize %>
			<%= f.input :password, :label => t("activerecord.models.user.attributes.password").capitalize %>
			<%= f.input :password_confirmation, :label => t("activerecord.models.user.attributes.password_confirmation").capitalize %>
			<% if admin? %>
				<%= f.input :admin, :label => t("activerecord.models.user.attributes.admin").capitalize %>
				<%= f.input :editor, :label => t("activerecord.models.user.attributes.editor").capitalize %>
			<% end %>
		<% end %>
		<%= f.buttons %>
	<% end %>
</div>
