<h1>Listing users</h1>

<table class="indexTable">
  <tr>
    <th>Name</th>
    <th>Email</th>
		<% if admin? %>
			<th>Admin</th>
			<th>Editor</th>
		<% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
		<% if admin? %>
			<%= form_tag(toggle_admin_path, :method=>'post') do %>
				<td>
					<%= submit_tag user.admin ? "Si" : "No" %>
					<%= hidden_field_tag "id", user.id %>
				</td>
			<% end %>
			<%= form_tag(toggle_editor_path, :method=>'post') do %>
				<td>
					<%= submit_tag user.editor ? "Si" : "No" %>
					<%= hidden_field_tag "id", user.id %>
				</td>
			<% end %>
		<% end %>
    <td><%= link_to 'Mostrar', user %></td>
    
  </tr>
<% end %>
</table>

<br />
