<h1 class="contentTitle"><%= @user.name %></h1>
<div class="contentBody">
	<div>
		Nombre: <%= @user.name %>
	</div>
	<div>
		Email: <%= @user.email %>
	</div>
	<div>
		Admin ?: <%= @user.admin? %>
	</div>
	<div>
		Editor ?: <%= @user.editor? %>
	</div>
</div>
