<div class="contents">
  <h1 class="contentTitle">Redes Sociales</h1>
  <div class="contentBody">
    <a href="http://www.facebook.com/profile.php?id=100001450706252">
      <center><%= image_tag "/assets/facebook.png" %></center>
    </a>		
  </div>
</div>

<div class="contents">
  <h1 class="contentTitle">Realizar una consulta</h1>
  
	<%= render "shared/flash_messages" %>
  
  <div class="error_messages">
		<%= render "shared/error_message", :target => @question.errors[:name], :field_name => t("activerecord.models.question.attributes.name") %>
		<%= render "shared/error_message", :target => @question.errors[:from], :field_name => t("activerecord.models.question.attributes.from") %>
		<%= render "shared/error_message", :target => @question.errors[:subject], :field_name => t("activerecord.models.question.attributes.subject") %>
		<%= render "shared/error_message", :target => @question.errors[:question], :field_name => t("activerecord.models.question.attributes.question") %>
  </div>
  
  <div class="contentBody">
    <%= form_for @question do |f| %>			
			<div class="field">
				<%= f.label t("activerecord.models.question.attributes.name") %>
				<%= f.text_field :name %>
			</div>
			<div class="field">
				<%= f.label t("activerecord.models.question.attributes.from") %>
				<%= f.text_field :from %>
			</div>
			<div class="field">
				<%= f.label t("activerecord.models.question.attributes.subject") %>
				<%= f.text_field :subject %>
			</div>
			<div class="field">
				<%= f.label t("activerecord.models.question.attributes.question") %>
				<%= f.text_area :question, :rows => "8" %>
			</div>
			<div class="actions"><%= submit_tag "Realizar consulta" %></div>
		<% end %>
  </div>  
</div>
