<div id="menu">
	<ul>
		<li class="menuItem"><%= link_to "Inicio", root_path %></li>
		<li class="menuItem"><%= link_to "Maternidad y Paternidad", matypat_path %></li>
		<li class="menuItem"><%= link_to "Artículos", articles_path %></li>
		<li class="menuItem"><%= link_to "Consultorio", consultorio_path %></li>
		<li class="menuItem"><%= link_to "Contacto", contacto_path %></li>
	</ul>
</div>
