<nav id="userMenu">
	<ul>
	<% if logged_in? %>
		<!-- <li>Avatar</li> -->
		<li><%= link_to "#{current_user.name}", user_path(current_user) %></li>
		<li><%= link_to "Perfil", edit_user_path(current_user) %></li>
		<% if admin? %>
			<li><%= link_to "Usuarios", users_path %></li>
		<% end %>
		<li><%= link_to "Salir", logout_path %></li>
	<% else %>
		<li><%= link_to "Ingresar", login_path %></li>
		<li><%= link_to "Nuevo?", signup_path %></li>
	<% end %>
	</ul>
</nav>
