<!DOCTYPE html>
<html>
<head>
  <title>En Salud Psi <%= " - #{@title}"  if @title %></title>
  <%= stylesheet_link_tag    "application", "formtastic", "markitup/skins/markitup/style", "markitup/sets/default/style"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="principal">
		<%= render "layouts/header" %>
		<div id="centro">
			<%= render "layouts/left" %>
			<div id="contents" class="">
				<%= render "layouts/menu" %>
				
				<% if admin? && published_articles(false).any? %>
					<div class="contents">
						<div class="error_messages">
							<h1 class="contentTitle">Hay artículos pendientes de publicar</h1>
							<div class="contentBody">
								<ul>
									<% published_articles(false).each do |article| %>
										<li><%= link_to article.title, edit_article_path(article) %></li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				<% end %>
				
				<%= yield %>
			</div>
			<%= render "layouts/right" %>
		</div>
	</div>


</body>
</html>
