<!DOCTYPE html>
<html>
<head>
  <title>En Salud Psi <%= " - #{@title}"  if @title %></title>
  <%= stylesheet_link_tag    "application", "formtastic", "markitup/skins/markitup/style", "markitup/sets/default/style"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="principal">
		<%= render "layouts/header" %>
		<div id="centro">
			<%= render "layouts/left" %>
			<div id="contents" class="">
				<%= render "layouts/menu" %>
				<%= yield %>
			</div>
			<%= render "layouts/right" %>
		</div>
	</div>


</body>
</html>
